<ion-content class="covid-home">
  <div class="covid-home__title">Lineas de atencion</div>
  <ion-list>
    <div class="content-summary__detail__item__title">Nacional</div>
    <ion-item>
      <div class="content-summary__icon-global"></div>
      <a  class="content-summary__detail__item__total" href="tel:{018000955590}">01 8000 95 55 90</a>
    </ion-item>
    <div class="content-summary__detail__item__title">Antioquia</div>
    <ion-item>
      <div class="content-summary__icon-global"></div>
      <a  class="content-summary__detail__item__total" href="tel:{3003050295}">300 305 02 95</a>
    </ion-item>
    <div class="content-summary__detail__item__title">Atlantico</div>
    <ion-item>
      <div class="content-summary__icon-global"></div>
      <a  class="content-summary__detail__item__total" href="tel:{3793333}">379 33 33</a>
    </ion-item>
    <div class="content-summary__detail__item__title">Bogota</div>
    <ion-item>
      <div class="content-summary__icon-global"></div>
      <a  class="content-summary__detail__item__total" href="tel:{3305041}">330 50 41</a>
    </ion-item>
    <div class="content-summary__detail__item__title">Valle del cauca</div>
    <ion-item>
      <div class="content-summary__icon-global"></div>
      <a  class="content-summary__detail__item__total" href="tel:{6206819}">620 68 19</a>
    </ion-item>
    <div class="content-summary__detail__item__title">Sucre</div>
    <ion-item>
      <div class="content-summary__icon-global"></div>
      <a  class="content-summary__detail__item__total" href="tel:{2822556}">2822556</a>
    </ion-item>
  </ion-list>
</ion-content>