.covid-icon{
    &__icon_bar1{
            background-image: url(../../assets/icon/Icon-bar1.svg);
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
    }
    &__icon_bar2{
        background-image: url(../../assets/icon/Icon-bar2.svg);
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
    }
    &__icon_bar3{
        background-image: url(../../assets/icon/Icon-bar3.svg);
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
    }
    &__icon_bar4{
        background-image: url(../../assets/icon/Icon-bar4.svg);
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
    }
    &__icon_bar5{
        background-image: url(../../assets/icon/Icon-bar5.svg);
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
    }
}