<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <div class="covid-icon__icon_bar1"></div>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <div class="covid-icon__icon_bar3"></div>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <div class="covid-icon__icon_bar5"></div>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <div class="covid-icon__icon_bar4"></div>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <div class="covid-icon__icon_bar2"></div>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
