<ion-content class="covid-prevent">
  <div class="covid-prevent__title">Precauciones</div>
  <div class="covid-prevent__font">
    <div class="covid-prevent__font__marco">
      <div class="covid-prevent__font__marco__icon_1"> </div> 
      <div class="covid-prevent__font__marco__title">Lavate las manos</div> 
    </div>
    <div class="covid-prevent__font__marco">
      <div class="covid-prevent__font__marco__icon_2"> </div> 
      <div class="covid-prevent__font__marco__title">Usa tapabocas</div> 
    </div>
    <div class="covid-prevent__font__marco">
      <div class="covid-prevent__font__marco__icon_3"> </div> 
      <div class="covid-prevent__font__marco__title">Cuida a los mas bulnerables</div> 
    </div>
    <div class="covid-prevent__font__marco">
      <div class="covid-prevent__font__marco__icon_4"> </div> 
      <div class="covid-prevent__font__marco__title">Quedate en casa</div> 
    </div>
  </div>
</ion-content>
