<ion-content class="covid-sint">
  <div class="covid-sint__title">Sintomas</div>
  <div class="covid-sint__contenedor_principal"></div>
    <div class="covid-sint__row">
      <div class="covid-sint__row__col">
        <div class="covid-sint__row__col__marco">
          <div class="covid-sint__row__col__marco__icon_5"> </div> 
        </div> 
        <div class="covid-sint__row__col__subtitle">Fiebre</div> 
      </div>
      <div class="covid-sint__row__col">
        <div class="covid-sint__row__col__marco">
          <div class="covid-sint__row__col__marco__icon_6"> </div> 
        </div> 
        <div class="covid-sint__row__col__subtitle">Tos seca</div> 
      </div>
      <div class="covid-sint__row__col">
        <div class="covid-sint__row__col__marco">
          <div class="covid-sint__row__col__marco__icon_7"> </div> 
        </div> 
        <div class="covid-sint__row__col__subtitle">Dolor de garganta</div> 
      </div>
    </div>
    <div class="covid-sint__row">
      <div class="covid-sint__row__col">
        <div class="covid-sint__row__col__marco">
          <div class="covid-sint__row__col__marco__icon_8"> </div> 
        </div> 
        <div class="covid-sint__row__col__subtitle">Respiratorios</div> 
      </div>
      <div class="covid-sint__row__col">
        <div class="covid-sint__row__col__marco">
          <div class="covid-sint__row__col__marco__icon_9"> </div> 
        </div> 
        <div class="covid-sint__row__col__subtitle">Congestion nasal</div> 
      </div>
      <div class="covid-sint__row__col">
        <div class="covid-sint__row__col__marco">
          <div class="covid-sint__row__col__marco__icon_10"> </div> 
        </div> 
        <div class="covid-sint__row__col__subtitle">Diarrea</div> 
      </div>
    </div>
</ion-content>
