.covid-sint{
    &__title{
        font-family: OpenSans;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #10133d;
        margin: 28px 16px 16px 16px;
        margin-left: 16px;
        margin-bottom: 16px;
    }

    &__contenedor_principal{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45%;
        width: 66%;
        margin: 1% 1%;
        background-image: url(../../assets/icon/sint.svg);
        margin-left: 70px;

      }

    &__row {
        display: flex;
        width: 0px;
        height: 100px;


    &__col {
        justify-content: space-between;
        margin-left: 55px;
      &__marco{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        background-color: white;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        box-shadow: 3px 3px 3px 3px rgba(51,51,51, 0.2);
            
        &__icon_5{
            background-image: url(../../assets/icon/icon5.svg);
            width: 13px;
            height:36px;
        }
        &__icon_6{
            background-image: url(../../assets/icon/icon6.svg);
            width: 34px;
            height:27px;
        }
        &__icon_7{
            background-image: url(../../assets/icon/icon7.svg);
            width: 29px;
            height:33px;
        }
        &__icon_8{
            background-image: url(../../assets/icon/icon8.svg);
            width: 36px;
            height: 31px;
        }
        &__icon_9{
            background-image: url(../../assets/icon/icon9.svg);
            width: 36px;
            height:32px;
        }
        &__icon_10{
            background-image: url(../../assets/icon/icon10.svg);
            width: 28px;
            height:31px;
        }
        
    }
    &__subtitle{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:auto;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        font-family: OpenSans;
        font-size: 10px;
        color: #333333;    
    }
    }
    
}
   

}